.calendar-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: calc(100vh - 40px);
    width: 100vw;
    border-top: 1px solid #dadce0;
}

.calendar-item {
    background-color: #fffc;
    border-bottom: 1px solid #dadce0;
    border-right: 1px solid #dadce0;
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}