.calendar-container {
    position: relative;
}

.add-event {
    position: absolute;
}

.btn {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 50px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    cursor: pointer;
    transition: background-color .3s;
}

.btn:hover,
.btn:focus {
    background-color: #27ae60;
}

.btn a {
    text-decoration: none;
    color: #ecf0f1;
}

.btn>* {
    position: relative;
}

.btn span {
    display: block;
    font-size: 20px;
}

.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.red {
    background-color: #e74c3c;
}

.btn.red:hover,
.btn.red:focus {
    background-color: #c0392b;
}

ul li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}